version: '3.8'

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.server
    container_name: socket_server
    networks:
      - app_network
    ports:
      - "9999:9999"

  client:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: socket_client
    depends_on:
      - server
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
