version: '3.8'

services:
  app1:
    build: .
    container_name: backend_app1
    networks:
      - app_network

  app2:
    build: .
    container_name: backend_app2
    networks:
      - app_network

  app3:
    build: .
    container_name: backend_app3
    networks:
      - app_network

  nginx:
    image: nginx:latest
    container_name: nginx_lb
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app1
      - app2
      - app3
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
